# ASDA Week 1 Homework

In [135]:
#1

In [1]:
#importing necessary libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore')

In [5]:
#setting max columns as none

In [6]:
pd.set_option('display.max_columns', None)

In [120]:
#reading the dataset

In [7]:
df=pd.read_csv("C:\\Users\\dalal\\Downloads\\Sleep_health_and_lifestyle_dataset.csv")
df.head(5)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [121]:
#checking the shape of data

In [8]:
df.shape

(374, 13)

In [122]:
#no of rows

In [10]:
print("no of rows are:", df.shape[0])

no of rows are: 374

In [123]:
#no of columns

In [11]:
print("no of columns are:",df.shape[1])

no of columns are: 13

In [136]:
#2

In [124]:
#checking the datatypes of data

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           374 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [125]:
#checking the null values in the dataset

In [14]:
df.isnull().sum()

Person ID                  0
Gender                     0
Age                        0
Occupation                 0
Sleep Duration             0
Quality of Sleep           0
Physical Activity Level    0
Stress Level               0
BMI Category               0
Blood Pressure             0
Heart Rate                 0
Daily Steps                0
Sleep Disorder             0
dtype: int64

In [126]:
#unique values and count of unique values of each column

In [17]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [19]:
df['Gender'].nunique()

2

In [18]:
df['Person ID'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374], dtype=int64)

In [20]:
df['Person ID'].nunique()

374

In [21]:
df['Age'].unique()

array([27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
      dtype=int64)

In [22]:
df['Age'].nunique()

31

In [23]:
df['Occupation'].unique()

array(['Software Engineer', 'Doctor', 'Sales Representative', 'Teacher',
       'Nurse', 'Engineer', 'Accountant', 'Scientist', 'Lawyer',
       'Salesperson', 'Manager'], dtype=object)

In [24]:
df['Occupation'].nunique()

11

In [25]:
df['Sleep Duration'].unique()

array([6.1, 6.2, 5.9, 6.3, 7.8, 6. , 6.5, 7.6, 7.7, 7.9, 6.4, 7.5, 7.2,
       5.8, 6.7, 7.3, 7.4, 7.1, 6.6, 6.9, 8. , 6.8, 8.1, 8.3, 8.5, 8.4,
       8.2])

In [26]:
df['Sleep Duration'].nunique()

27

In [27]:
df['Quality of Sleep'].unique()

array([6, 4, 7, 5, 8, 9], dtype=int64)

In [48]:
df['Quality of Sleep'].nunique()

6

In [29]:
df['Physical Activity Level'].unique()

array([42, 60, 30, 40, 75, 35, 45, 50, 32, 70, 80, 55, 90, 47, 65, 85],
      dtype=int64)

In [30]:
df['Physical Activity Level'].nunique()

16

In [31]:
df['Stress Level'].unique()

array([6, 8, 7, 4, 3, 5], dtype=int64)

In [32]:
df['Stress Level'].nunique()

6

In [35]:
df['BMI Category'].unique()

array(['Overweight', 'Normal', 'Obese', 'Normal Weight'], dtype=object)

In [49]:
df['BMI Category'].nunique()

4

In [37]:
df['Blood Pressure'].unique()

array(['126/83', '125/80', '140/90', '120/80', '132/87', '130/86',
       '117/76', '118/76', '128/85', '131/86', '128/84', '115/75',
       '135/88', '129/84', '130/85', '115/78', '119/77', '121/79',
       '125/82', '135/90', '122/80', '142/92', '140/95', '139/91',
       '118/75'], dtype=object)

In [38]:
df['Blood Pressure'].nunique()

25

In [39]:
df['Heart Rate'].unique()

array([77, 75, 85, 82, 70, 80, 78, 69, 72, 68, 76, 81, 65, 84, 74, 67, 73,
       83, 86], dtype=int64)

In [40]:
df['Heart Rate'].nunique()

19

In [46]:
df['Daily Steps'].unique()

array([ 4200, 10000,  3000,  3500,  8000,  4000,  4100,  6800,  5000,
        7000,  5500,  5200,  5600,  3300,  4800,  7500,  7300,  6200,
        6000,  3700], dtype=int64)

In [45]:
df['Daily Steps'].nunique()

20

In [43]:
df['Sleep Disorder'].unique()

array(['None', 'Sleep Apnea', 'Insomnia'], dtype=object)

In [44]:
df['Sleep Disorder'].nunique()

3

In [137]:
#3

In [127]:
#checking descriptive statistics of data

In [50]:
df.describe()

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,108.108742,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,1.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,94.250000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,187.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,280.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,374.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [128]:
#including all the categorical columns in dataset

In [57]:
df.select_dtypes(exclude=np.number)

     Gender            Occupation BMI Category Blood Pressure Sleep Disorder
0      Male     Software Engineer   Overweight         126/83           None
1      Male                Doctor       Normal         125/80           None
2      Male                Doctor       Normal         125/80           None
3      Male  Sales Representative        Obese         140/90    Sleep Apnea
4      Male  Sales Representative        Obese         140/90    Sleep Apnea
..      ...                   ...          ...            ...            ...
369  Female                 Nurse   Overweight         140/95    Sleep Apnea
370  Female                 Nurse   Overweight         140/95    Sleep Apnea
371  Female                 Nurse   Overweight         140/95    Sleep Apnea
372  Female                 Nurse   Overweight         140/95    Sleep Apnea
373  Female                 Nurse   Overweight         140/95    Sleep Apnea

[374 rows x 5 columns]

In [129]:
#checking most frequent value of each column

In [60]:
df.select_dtypes(exclude=np.number).mode()

  Gender Occupation BMI Category Blood Pressure Sleep Disorder
0   Male      Nurse       Normal         130/85           None

In [85]:
df['Gender'].value_counts().head(1)[0]

189

In [69]:
df['Occupation'].value_counts().head(1)[0]

73

In [70]:
df['BMI Category'].value_counts().head(1)[0]

195

In [71]:
df['Blood Pressure'].value_counts().head(1)[0]

99

In [72]:
df['Sleep Disorder'].value_counts().head(1)[0]

219

In [130]:
#checking frequency of most frequent value of the column

In [91]:
df['Gender'].value_counts(ascending=True).head(1)

Female    185
Name: Gender, dtype: int64

In [94]:
df['Occupation'].value_counts(ascending=True).head(1)

Manager    1
Name: Occupation, dtype: int64

In [95]:
df['BMI Category'].value_counts(ascending=True).head(1)

Obese    10
Name: BMI Category, dtype: int64

In [96]:
df['Blood Pressure'].value_counts(ascending=True).head(1)

122/80    1
Name: Blood Pressure, dtype: int64

In [97]:
df['Sleep Disorder'].value_counts(ascending=True).head(1)

Insomnia    77
Name: Sleep Disorder, dtype: int64

In [131]:
#checking missing values in dataset

In [98]:
df.isnull().sum()

Person ID                  0
Gender                     0
Age                        0
Occupation                 0
Sleep Duration             0
Quality of Sleep           0
Physical Activity Level    0
Stress Level               0
BMI Category               0
Blood Pressure             0
Heart Rate                 0
Daily Steps                0
Sleep Disorder             0
dtype: int64

In [132]:
#percentage of missing values

In [106]:
df.isna().sum()/len(df)*100

Person ID                  0.0
Gender                     0.0
Age                        0.0
Occupation                 0.0
Sleep Duration             0.0
Quality of Sleep           0.0
Physical Activity Level    0.0
Stress Level               0.0
BMI Category               0.0
Blood Pressure             0.0
Heart Rate                 0.0
Daily Steps                0.0
Sleep Disorder             0.0
dtype: float64

In [133]:
#checking duplicate rows

In [108]:
df[df.duplicated()]

Empty DataFrame
Columns: [Person ID, Gender, Age, Occupation, Sleep Duration, Quality of Sleep, Physical Activity Level, Stress Level, BMI Category, Blood Pressure, Heart Rate, Daily Steps, Sleep Disorder]
Index: []

In [134]:
#checking percentage of duplicate rows

In [112]:
df.duplicated().sum()/len(df)*100

0.0

In [138]:
#4

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           374 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [ ]:
#Does the dataset contain unnecessary columns? Which?

Yes the dataset contains unncessary column which is person id, This column is a unique identifier with all unique values. It should be dropped (or set as the index) before the main analysis.

In [114]:
#Do the data types correspond to the columns?

Yes, all the dataypes of columns correspond to the column. No typecasting is needed in here.

In [ ]:
#Is the labelling of the columns appropriate?

Yes, the labelling of all the columns is appropriate

In [ ]:
#Are there mixed values in column (e.g.,number and characters)?

No, there are no mixed values in the column

In [ ]:
#Are string column clean?

Yes, the columns are clean. they do not contain any null values.

In [116]:
#Does the dataset look machine generated?

NA

In [118]:
#Other

NA

In [119]:
#5. Overall assessment
#Is it worth it to further analyze the dataset?