# Analysis of Chess Dataset

### Metadata
- Dataset name: games.csv
- Source: tbd
- Date acquired: 2025-10-24
- Access path: https://github.com/Titaniel3/ASDA_2025_Group_1_Portfolio/blob/5fa1a748946e7faf7d4ee6f6deb02c5cb9c91272/additional_material/games.csv
- MD5: 22a652ce21b9ecc314b979cf6b28d463
- Description: detailed information of 20.000 games of chess

### Import of libraries and file
Import the file and create a dataframe from it.

In [16]:
import pandas as pd

# jupyter notebooks are only displaying the result of the last expression. display let"s us have multiple evaluations from one cell
from IPython.display import display

In [ ]:
df = pd.read_csv('../additional_material/games.csv')

# Display df head to verify that df was created correctly
df.head()

In [6]:
#df.dtypes allows us to see columns and data types at the same time in one single step
df.dtypes

id                 object
rated                bool
created_at        float64
last_move_at      float64
turns               int64
victory_status     object
winner             object
increment_code     object
white_id           object
white_rating        int64
black_id           object
black_rating        int64
moves              object
opening_eco        object
opening_name       object
opening_ply         int64
dtype: object

In [18]:
#df.count() provides an information about the numbers of nun-null values in each column. I added df.shape to have a comparison to the complete set.

display(df.shape)
display(df.count())

(20058, 16)

id                20058
rated             20058
created_at        20058
last_move_at      20058
turns             20058
victory_status    20058
winner            20058
increment_code    20058
white_id          20058
white_rating      20058
black_id          20058
black_rating      20058
moves             20058
opening_eco       20058
opening_name      20058
opening_ply       20058
dtype: int64

In [20]:
# since there are no NaN cells we don't need to count nan values as an additional unique value and can leave the (dropna=False)

df.nunique()

id                19113
rated                 2
created_at        13151
last_move_at      13186
turns               211
victory_status        4
winner                3
increment_code      400
white_id           9438
white_rating       1516
black_id           9331
black_rating       1521
moves             18920
opening_eco         365
opening_name       1477
opening_ply          23
dtype: int64

In [21]:
# for insight into the numerical columns

df.describe()

,created_at,last_move_at,turns,white_rating,black_rating,opening_ply
count,2.005800e+04,2.005800e+04,20058.000000,20058.000000,20058.000000,20058.000000
mean,1.483617e+12,1.483618e+12,60.465999,1596.631868,1588.831987,4.816981
std,2.850151e+10,2.850140e+10,33.570585,291.253376,291.036126,2.797152
min,1.376772e+12,1.376772e+12,1.000000,784.000000,789.000000,1.000000
25%,1.477548e+12,1.477548e+12,37.000000,1398.000000,1391.000000,3.000000
50%,1.496010e+12,1.496010e+12,55.000000,1567.000000,1562.000000,4.000000
75%,1.503170e+12,1.503170e+12,79.000000,1793.000000,1784.000000,6.000000
max,1.504493e+12,1.504494e+12,349.000000,2700.000000,2723.000000,28.000000

In [22]:
# for insights into categorical columns

df.describe(include=['object', 'bool'])

,id,rated,victory_status,winner,increment_code,white_id,black_id,moves,opening_eco,opening_name
count,20058,20058,20058,20058,20058,20058,20058,20058,20058,20058
unique,19113,2,4,3,400,9438,9331,18920,365,1477
top,XRuQPSzH,True,resign,white,10+0,taranga,taranga,e4 e5,A00,Van't Kruijs Opening
freq,5,16155,11147,10001,7721,72,82,27,1007,368